// 镜像仓库
repositories {
    maven {
        url 'https://maven.aliyun.com/repository/central'
        name 'central'
    }
    maven {
        url 'https://maven.aliyun.com/repository/jcenter'
        name 'jcenter'
    }
    maven {
        url 'https://maven.aliyun.com/repository/google'
        name 'Google'
    }
}

